html {
  font-size: 62.5%; /* default 16px * 62.5% = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem 3rem;
  color: #35455d;
}

#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  height: 9rem;
}

header .logo img {
  height: 9rem;
}

main {
  grid-area: main;
  padding: 1rem;
  margin-top: 6rem;
  margin-bottom: 9rem;
}

footer {
  grid-area: footer;
  height: 6rem;
  font-size: 1.4rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row.top {
  align-items: flex-start;
}

.row.center {
  justify-content: center;
}

.col-1{
  flex: 1 1 25rem;
  margin-bottom: 2rem;
}

.col-2{
  flex: 2 1 50rem;
  margin-bottom: 2rem;
}

.col-4 {
  width: 22%;
}

.min-30 {
  min-width: 30rem;
}

.left-margin {
  margin-left: 3rem;
}

.right-margin {
  margin-right: 3rem;
}

.full-width {
  width:100%;
}

/*image */
img.small {
  max-width: 20rem;
  width:100%;
}

img.medium {
  max-width: 40rem;
  width:100%;
}

img.large {
  max-width: 80rem;
  width:100%;
}

img.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

ul li:first-child {
  margin-top: 0;
}

input, select, textarea, button {
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:hover, select:hover, textarea:hover, button:hover {
  border-color: #ced2c2;
}

input, select, textarea {
  padding: 0.5rem;
  border: 0.1rem solid #a4a4a4;
}

button {
  padding: 1rem;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: background-color 0.5s;
  border: none;
}

button.primary {
  margin-top: 1rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #e8a27e;
}

button.primary:hover {
  background-color: #bd8462;
}

button.secondary {
  background-color: #edefe7;
  color: #35455d;
}

button.secondary:hover {
  background-color: #ced2c2;
  color: #35455d;
}

.button-icon {
  background-color: transparent;
}

.button-icon i {
  transition: color 0.5s;
}

.button-icon i:hover {
  color: #f1c5ae;
}

button.block {
  width: 100%;
}

button.small {
  font-size: 1.2rem;
  padding: 0.5rem;
}

/* Typography */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  margin: 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  color: #a0a885;
  text-decoration: none;
  transition: color 0.5s;
}

a:hover {
  color: #f1c5ae;
}

a.back {
  font-size: 1.4rem;
}

p {
  line-height: 1.4;
}

.text-center {
  text-align: center;
}

.page-title {
  font-size: 3rem;
  text-transform: uppercase;
  color: #d69472;
}

/* header */
header a {
  color: #35455d;
  padding: 0.5rem;
}

.badge {
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #d69472;
  color: white;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-left: 0.4rem;
}

/* footer */
footer {
  color: #35455d;
}

/* Card */
.card {
  margin: 2rem 2rem;
}

.card-body {
  padding-top: 0.5rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.card-body a {
  color: #505253;
}

.card-body h2 {
  padding-top: 0;
  padding-bottom: 0rem;
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.product-caption {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #486654;
}

.product-caption:hover {
  color: #d69472;
}

.rating span{
  color: #f1c5ae;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #000000;
  margin-left: 1rem;
}

/* Alert */
.loading {
  display: block !important;
}

.success {
  color: #5f8b6f;
}

.danger {
  color: #c75c52;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #35455d;
  background-color: #f2f2f2;
}

.alert-danger {
  color: #c75c52;
  background-color: #ffe0e0e0;
}

.alert-success {
  color: #5f8b6f;
  background-color: rgba(224, 255, 225, 0.88);
}

/* Form */
.form {
  max-width: 60rem;
  margin: 2rem auto;
}

.form > div, .form fieldset > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;
}

.form .radio {
  margin-bottom: 1rem;
}

.form fieldset {
  border: none;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-bottom: 1.5rem;
}

.form legend {
  padding-inline-start: 1rem;
  font-weight: bold;
}

.form div.radio-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form div.radio-wrapper div.radio {
  width: 48%;
}

/* dropdown */
.dropdown {
  display: inline-block;
  position: relative;
  margin-left: 1rem;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1.5rem;
  z-index: 1;
  background-color: #5c6d4c;
  color: white;
  margin: 0.4rem 0 0;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}

.dropdown:hover > .dropdown-content {
  display: block;
}

.dropdown ul li a {
  color: white;
}

.dropdown ul li:first-child {
  margin-top: 0;
}

/* Checkout*/
.checkout-steps > div {
  border-top: 0.5rem #c7c7c7 solid;
  color: #c7c7c7;
  flex: 1;
  padding: 1rem 0.5rem 1rem 0;
  font-weight: bold;
  font-size: 1.6rem;
}

.checkout-steps > div.active {
  border-top-color: #848b74;
  color: #848b74;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th{
  background-color: #f4f4f4;
}

.table td, .table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.8rem;
}

.table button {
  margin: 0 0.2rem;
}

/* Home screen */
.hero-container {
  width: 100%;
  height: 50rem;
  margin-bottom: 2rem;
}

.home-screen .row{
  justify-content: center;
}

/* screens */

.product-screen .card,
.cart-screen .card,
.place-order-screen .card,
.order-details-screen .card{
  background-color: #f3f3f3;
  padding: 2rem;
  margin: 0;
}


.cart-screen .row,
.place-order-screen .order-items li,
.order-details-screen .order-items li {
  padding-bottom: 2rem;
  padding-top: 1rem ;
  border-bottom: 1px solid #cccccc;
}

.place-order-screen h2,
.order-details-screen h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1.8rem;
  color: #92b1b6;
}

/* Product screen */
.product-screen .row.top {
  margin-top: 3rem;
}

.product-screen h1 {
  color: #92b1b6;
  font-size: 2rem;
}

/* cart screen */
.cart-thumbnail {
  width: 20rem;
  height: 12rem;
}

.cart-screen .card {
  margin-bottom: 2rem;
}

/* Place order screen */
.place-order-screen .row.top {
  margin-top: 3rem;
}

.place-order-screen p {
  margin-top: 0.5rem;
}
